@media only screen and (max-width:900px) {

    body {
        color: white;
    }

    header {
        display: flex;
        height: 40px;

    }

    .navigation {
        display: flex;
        flex-direction: column;
        list-style: none;
        position: absolute;
        width: 40%;
        background-color: red;




    }


    .buttons {
        position: absolute;
        right: 1%;
        z-index: 10;
    }


    .navigation a {
        display: none;
        text-align: center;

    }

    label.hamburger {
        display: block;
        width: 40px;
        height: fit-content;
        position: relative;
        cursor: pointer;
    }

    input#hamburger {
        display: none
    }

    .line {
        position: absolute;
        height: 4px;
        width: 80%;
        background: #000;
        transition: 0.5s;
    }

    /* steps of 12 are optional, could also be 10, 13 etc */
    .line:nth-child(1) {
        top: 4px;
    }

    .line:nth-child(2) {
        top: 14px;
    }

    .line:nth-child(3) {
        top: 24px;
    }

    /* translateY must be same as */
    #hamburger:checked+.hamburger .line:nth-child(1) {
        transform: translateY(8px) rotate(-45deg);
    }

    #hamburger:checked+.hamburger .line:nth-child(2) {
        opacity: 0;
    }

    #hamburger:checked+.hamburger .line:nth-child(3) {
        transform: translateY(-12px) rotate(45deg);
    }

    .open {
        position: absolute;
        top: -2.5%;
        right: 1%;
        width: 50%;
        height: 100vh;
        transform: translateY(0px);
        transition: all 0.7s;
        z-index: 5;
        padding: 0 40px;
    }


    .open a {
        margin-top: 10px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        transition: all 0.7s;
    }

    img {
        width: 250px;
    }

    main {
        width: 100%;


        .main {
            height: 100vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: rebeccapurple;

            h1,
            p,
            button {
                z-index: 1;
            }
        }

        .main::before {
            content: "";
            position: absolute;
            background-color: rgba(17, 16, 16, 0.643);
            width: fit-content;
            top: 00;
            height: 101vh;
        }


        .aboutus {
            margin-top: 20px;
            display: flex;
            flex-wrap: wrap;
            text-align: center;
            justify-content: center;
            align-items: center;

        }



        .pakages {
            margin-top: 20%;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            background-color: red;
            height: 80vh;

            h1 {
                margin: 2% 0 2% 0;
            }
        }

        .slideshow-container {
            position: relative;
            display: flex;
            flex-direction: column;
            align-self: center;
            width: 100%;
            top: 10%;
            background-color: white;

            .myslides {
                display: none;
                position: absolute;
                align-self: auto;
                transform: translateX(29%);

            }

            img {
                background-color: black;
                width: 100%;
            }

            .prev,
            .next {
                cursor: pointer;
                position: absolute;
                top: 50%;
                width: auto;
                transform: translateY(100%);
                padding: 16px;
                color: white;
                font-weight: bold;
                font-size: 18px;
                transition: 0.6s ease;
                border-radius: 0 0 0 0;
                user-select: none;
            }

            .next {
                right: 0;
                border-radius: 0px 0 0 0px;
            }

            .prev:hover,
            .next:hover {
                background-color: rgba(0, 0, 0, 0.8);
            }


            .textContent {
                width: 50%;
            }
        }


        .testimonies {
            display: flex;
            flex-direction: column;
            text-align: center;

            margin: 30% 0;

            .testimonycontents {
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
                gap: 3%;


                .infoms {
                    width: auto;
                }

            }
        }

        .members {
            margin: 55% 0%;
            text-align: center;


            .member {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }

            .teammembers {
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
                gap: 2%;
            }
        }


        .servicesdetails {
            display: flex;
            flex-direction: column;
            text-align: center;

            .servicedetail {
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
                gap: 2%;
                position: relative;



                .detail1,
                .detail2,
                .detail3 {

                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                }
            }
        }

        .booking {
            margin: 20% 0;



            img {
                display: none;
            }

            .largeforms {
                display: none;
            }

            input {
                font-size: 1.1rem;
            }

            fieldset:nth-child(1) {
                label {
                    display: flex;
                    flex-direction: column;
                    margin-bottom: 15px;
                    font-size: 15px;
                    text-transform: capitalize;
                }

                input {
                    height: 40px;
                    border: 2px solid black;
                    border-radius: 10px;
                    margin-top: 2%;
                }

                #address1 {
                    margin-bottom: 10px;
                }

                select {
                    margin-top: 20px;
                    height: 45px;
                    border-radius: 10px;
                    border: 2px solid black;
                }



            }

            fieldset:nth-child(2) {
                display: flex;
                justify-content: space-between;
                gap: .2rem;
                padding: 3px;

                label {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 40px;
                    width: 30%;
                    border: 2px solid red;
                    border-radius: 10px;


                }

                input {
                    appearance: none;
                    border-radius: 50%;
                    width: 18px;
                    height: 18px;
                    border: 2px solid #999;
                    transition: 0.2s all linear;
                    margin-right: 2px;
                    position: relative;
                    top: -2px;


                }

                input:checked {
                    border: 6px solid rgb(7, 194, 7);
                }

                button {
                    color: white;
                    background-color: black;
                    padding: 5px 10px;
                    border-radius: 0;
                    border: 0;
                    font-size: 14px;
                }

                button:hover,
                button:focus {
                    color: #999;
                }

                button:active {
                    background-color: white;
                    color: black;
                    outline: 1px solid black;
                }


            }

            input[type="submit"] {
                align-self: center;
                margin-top: 10px;
                width: 40%;
                height: 40px;
                transform: translateX(70%);
                border-radius: 10px;

            }

            ::placeholder {
                text-transform: capitalize;
                color: #999;
            }

            select {
                font-size: 20px;
                width: 50%;
                text-transform: capitalize;

                option {
                    font-size: 15px;
                    width: 30%;
                }
            }
        }


        .ourlocation {
            display: flex;
            flex-direction: column;
            gap: 20px;

            .companyinformation {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                font-size: 12px;
                gap: 10px;
                text-align: center;
            }

        }

        .reveal.active {
            transform: translateX(0px);
            opacity: 1;
        }

        .reveal {
            transform: translateX(90px);
            opacity: 0;
            transition: all 0.5s ease;
        }







    }
}