@media only screen and (max-width:768px) {
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        align-items: auto;
        background-color: #fff;
        max-width: 767px;
        padding: 20px;
        overflow-x: hidden;
    }

    h3 {
        text-align: center;
    }

    img {
        width: 300px;
    }

    p {
        font-size: 20px;
    }

    /* menu */
    .hamburger {
        display: block;
    }

    #hamburger {
        display: none;
    }


    .line {
        position: absolute;
        height: 4px;
        width: 40px;
        background: #000;
        transition: 0.5s;
        right: 0;
    }

    /* steps of 12 are optional, could also be 10, 13 etc */
    .line:nth-child(1) {
        top: 5px;
    }

    .line:nth-child(2) {
        top: 14px;
    }

    .line:nth-child(3) {
        top: 23px;
    }

    /* translateY must be same as */
    #hamburger:checked+.hamburger .line:nth-child(1) {
        transform: translateY(8px) rotate(-45deg);
    }

    #hamburger:checked+.hamburger .line:nth-child(2) {
        opacity: 0;
    }

    #hamburger:checked+.hamburger .line:nth-child(3) {
        transform: translateY(-12px) rotate(45deg);
    }

    /*open and close*/
    .open {
        display: flex;
        background-color: red;
        position: absolute;
        width: 30px;
        left: 0;
    }

    .open a {
        display: block;


    }

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 90%;
        position: absolute;
        top: 10px;


        img {
            background-color: #000;
            width: 40px;
            height: 35px;
            border-radius: 90%;
        }
    }


    .navigation {
        position: absolute;
        right: 0;
        display: none;

        li {
            background-color: red;
        }

        a {
            display: none;
        }
    }


    .open {
        position: absolute;
        width: fit-content;
        display: flex;
        flex-direction: row;
        gap: 28px;
        background-color: #000;
        top: 15px;
        padding: 10px;
        list-style: none;
    }

    .open a {
        display: flex;
        flex-direction: row;
        text-decoration: none;


    }



    /* mainpartsof */
    main {

        margin-top: 20px;

        h1,
        p,
        button {
            text-align: center;
        }

        p {
            margin-top: -10px;
        }


        img {
            transform: translateX(6%);
        }

        .main {
            display: flex;
            flex-direction: column;
            align-items: center;

            margin-bottom: 20px;

            button {
                height: 30px;
                width: 40%;
            }
        }

        .aboutus,
        .testimonies,
        .team {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }


        .aboutus {
            img {
                transform: translateX(0%);
            }
        }

        .slideshow-container {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: auto;
            background-color: red;
            padding: 20px 0px;


            img {
                transform: translateX(10%);
            }

            p {
                margin-top: 20px;
            }

            button {
                transform: translateX(46%);
                width: 50%;
                height: 40px;
            }
        }


        .prev,
        .next {
            cursor: pointer;
            position: absolute;
            background-color: rgba(0, 0, 0, 0.4);
            width: 30px;
            height: 40px;
            font-size: 30px;
            color: white;
        }

        .prev {
            left: 5px;
        }


        .next {
            right: 5px;
            align-self: auto;
        }

        .infoms {
            display: flex;
            flex-direction: column;
            align-items: center;


            img {
                transform: translateX(-1%);
            }


            p {
                margin-top: 20px;
            }
        }

        .teammembers {
            display: flex;
            flex-direction: column;
            gap: 20px;
        }


        .member {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            gap: 20px;


            img {
                transform: translateX(-1%);
            }

            button {
                width: 10rem;
                height: 35px;
            }
        }

        .largeforms {
            display: none;
        }


        #booking {
            margin-top: 20%;

            picture {
                display: none;
            }
        }

        form {
            display: flex;
            flex-direction: column;


            .userdetails {

                label {
                    display: block;
                    text-transform: capitalize;

                    font-size: 17px;
                    font-weight: bolder;

                    input {
                        display: block;
                        width: 80%;
                        height: 35px;
                        font-size: 14px;
                        border: none;
                        border-bottom: 3px solid black;
                        outline: none;
                        background-color: #fff;
                        font-weight: bold;
                    }

                    select {
                        margin-top: 10px;
                        width: 83%;
                        height: 40px;
                        font-size: 18px;
                    }
                }


                input:valid {
                    border-bottom: 2px solid green;
                }

                input:not(:valid) {
                    border-bottom: 2px solid red;
                }
            }


            input[type="submit"] {
                margin: 20px 0;
                width: fit-content;
                padding: 0px 40px;
                height: 40px;
                border: 2px solid black;
            }

        }

        .ourlocation {
            display: flex;
            flex-direction: column-reverse;
            gap: 10px;

            .companyinformation {
                display: flex;
                flex-direction: column;
                margin-bottom: 20px;
                flex-grow: 2;
                gap: 10px;
            }
        }

    }

    footer {
        display: flex;
        flex-direction: column;

        .socialmedia {
            display: flex;
            flex-direction: row;
            gap: 20px;
            transform: translateX(35%);
        }
    }




    .reveal.active {
        transform: translateY(0px);
        opacity: 1;
    }

    .reveal {
        transform: translateY(90px);
        opacity: 0;
        transition: all 2s ease;
    }
}