body {
    margin-top: -1px;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;

    img {
        width: 300px;
    }
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;
    background-color: yellow;

    img {
        display: block;
        width: 20px;
    }

    .controls {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;

        .line {
            display: block;
            width: 30px;
            height: 5px;
            background-color: black;
            margin-bottom: 2px;
            transition: 0.5s;
        }

        input#hamburger {
            display: none;
        }

        #hamburger:checked+.hamburger .line:nth-child(1) {
            transform: translateY(12px) rotate(-45deg);
        }

        #hamburger:checked+.hamburger .line:nth-child(2) {
            opacity: 0;
        }

        #hamburger:checked+.hamburger .line:nth-child(3) {
            transform: translateY(-4px) rotate(45deg);
        }

        .buttons {
            position: fixed;
            z-index: 21;
            background-color: white;
            height: 40px;
            width: 45px;
            border-radius: 50%;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .navigation {
            display: grid;
            grid-template-rows: repeat(3, 1fr);
            align-items: center;
            gap: 10px;
            justify-content: center;
            text-align: center;
            list-style: none;



            a {
                display: none;
            }

        }


        .open {
            position: fixed;
            top: -23px;
            right: 8px;
            height: 98%;
            width: 50%;
            padding: 10px;
            background-color: red;
            transition: 0.5s;
            z-index: 10;

            a {
                display: flex;
            }
        }
    }
}


main {
    display: flex;
    flex-direction: column;

    .main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
        text-align: center;
        height: fit-content;
        padding: 10px;
        border: 3px solid red;

        button {
            width: 200px;
            height: 45px;
        }

        h1 {
            margin-bottom: -10px;
        }
    }

    .aboutus {
        margin-top: -20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;


        img {
            width: 100%;
        }
    }


    .pakages {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        padding: 20px;
        height: auto;
        position: relative;



        .slideshow-container {
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 20px;
            height: auto;
            text-align: center;
        }

        .prev,
        .next {
            /* cursor: pointer; */
            position: absolute;
            top: 50%;
            padding: 10px;
            font-size: 30px;
            font-weight: bold;
            background-color: rgba(0, 0, 0, 0.6);
            z-index: inherit;
        }

        .prev {
            left: 0;
        }

        .next {
            right: 0;
        }


        button {
            width: 200px;
            height: 40px;
            text-align: center;
        }
    }

    .testimonies {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;


        .testimonycontents {
            border: 2px solid red;
            position: relative;
            text-align: center;
            padding: 20px;

            .infoms {
                width: 300px;
            }
        }

    }


    .team {
        display: flex;
        flex-direction: column;
        text-align: center;
    }



    .servicesdetails {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
    }

    .knowledge {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .skills1 {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;



        svg {
            position: absolute;
            top: -24px;
            left: 5;
        }

    }

    .skills1 .outer {
        width: 200px;
        height: 200px;
        border: 3px solid yellow;
        border-radius: 50%;
        padding: 33px;
        box-shadow: 6px 6px 10px -1px,
            -6px -6px 10px -1px;

    }


    .skills1 .inner {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 195px;
        width: 193px;
        border: 3px solid yellow;
        border-radius: 50%;
        box-shadow: inset 6px 6px 10px -1px,
            -6px -6px 10px -1px;
    }

    .skills1 circle {
        fill: none;
        stroke: green;
        stroke-width: 30;
        stroke-dasharray: 735;
        stroke-dashoffset: 0;
        animation: anim1 2s linear forwards;
    }



    .skills2 {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;



        svg {
            position: absolute;
            top: -24px;
            left: 5;
        }

    }

    .skills2 .outer {
        width: 200px;
        height: 200px;
        border: 3px solid yellow;
        border-radius: 50%;
        padding: 33px;
        box-shadow: 6px 6px 10px -1px,
            -6px -6px 10px -1px;

    }


    .skills2 .inner {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 195px;
        width: 193px;
        border: 3px solid yellow;
        border-radius: 50%;
        box-shadow: inset 6px 6px 10px -1px,
            -6px -6px 10px -1px;
    }



    .skills2 circle {
        fill: none;
        stroke: green;
        stroke-width: 30;
        stroke-dasharray: 735;
        stroke-dashoffset: 0;
        animation: anim2 2s linear forwards;
    }



    .skills3 {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;



        svg {
            position: absolute;
            top: -24px;
            left: 5;
        }

    }

    .skills3 .outer {
        width: 200px;
        height: 200px;
        border: 3px solid yellow;
        border-radius: 50%;
        padding: 33px;
        box-shadow: 6px 6px 10px -1px,
            -6px -6px 10px -1px;

    }


    .skills3 .inner {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 195px;
        width: 193px;
        border: 3px solid yellow;
        border-radius: 50%;
        box-shadow: inset 6px 6px 10px -1px,
            -6px -6px 10px -1px;
    }



    .skills3 circle {
        fill: none;
        stroke: green;
        stroke-width: 30;
        stroke-dasharray: 735;
        stroke-dashoffset: 0;
        animation: anim3 2s linear forwards;
    }


    .level {
        font-size: 30px;
        font-weight: bold;
    }



    .booking {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }


    .booking picture {
        display: none;
    }

    form {
        display: flex;
        flex-direction: column;
        margin: 20px 0px;
    }


    fieldset {
        border: none;
    }

    legend {
        font-size: 20px;
        margin-bottom: 30px;
        text-transform: capitalize;
    }

    label {
        display: block;
        width: 320px;
        text-transform: capitalize;
        margin: 8px 0;

        input[type="text"],
        input[type="tel"],
        input[type="email"] {
            display: block;
            width: 100%;
            height: 25px;
            border: none;
            outline: none;
            border-bottom: 3px solid black;
            margin-top: 10px;


        }

        select,
        option {
            width: 100%;
            height: 35px;
            margin-top: 10px;

        }

        #address2 {
            margin-top: 20px;
        }
    }

    fieldset:nth-child(2) {
        display: flex;
        flex-direction: column;
        font-size: 20px;
        font-weight: bold;


        legend {
            margin-bottom: -2px;
        }
    }


    fieldset:nth-child(3) {

        label {
            width: 310px;
            font-size: 20px;
            font-weight: bold;
        }

        textarea {
            width: 100%;
            height: 150px;
            resize: none;
        }
    }


    input[type="submit"] {
        width: 150px;
        height: 45px;
        font-size: 20px;
        text-align: center;
        align-self: center;
    }


    .ourlocation {
        display: flex;
        flex-direction: column-reverse;
    }

    .companyinformation {
        display: flex;
        flex-wrap: wrap;
        gap: 8px;
        margin: 30px 0;
    }

    .contactusphone,
    .contactustelephone,
    .contactusemail,
    .contacusaddress {
        padding: 2px;
        border-right: 2px solid black;
    }

}


footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

    .socials {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 20px;
    }
}



@keyframes anim1 {
    100% {
        stroke-dashoffset: 73.5;
    }

}

@keyframes anim2 {
    100% {
        stroke-dashoffset: 220.5;
    }

}

@keyframes anim3 {
    100% {
        stroke-dashoffset: 257.25;
    }

}