body {
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: red;

    img {
        display: block;
        width: 20px;
    }
}


img {
    width: 300px;
}